.diff-viewer {
  .diff-gutter {
    color: var(--theme-foreground-tertiary);
    text-align: center; // Better alignment for line numbers

    &.diff-gutter-omit {
      &:before {
        background-color: var(--theme-background-tertiary);
      }
    }
  }

  .diff-code {
    padding: 0;
    font-family: var(--font-family-mono, 'Sono'), monospace;
  }

  .diff-code-insert {
    background-color: var(--diff-insert-background, #022c22);

    .diff-code-edit {
      background-color: var(--diff-insert-edit-background, #011f19);
    }
  }

  .diff-code-delete {
    background-color: var(--diff-delete-background, #3f1d25);

    .diff-code-edit {
      background-color: var(--diff-delete-edit-background, #2c141a);
    }
  }

  .diff-gutter-insert {
    background-color: var(--diff-insert-background, #022c22);
    width: 16px;
    min-width: 16px;
    max-width: 16px;
  }

  .diff-gutter-delete {
    background-color: var(--diff-delete-background, #3f1d25);
  }

  ::selection {
    background-color: var(--theme-background-input);
    color: var(--theme-foreground-primary);
  }
}
